@model AntiCustomerServiceSystem.Models.Issue

@{
	ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
	<legend>Issue</legend>
	<div class="display-label">Name</div>
	<div class="display-field">
		@Html.DisplayFor(model => model.Name)
	</div>
	<div class="display-label">Details</div>
	<div class="display-field">
		@Html.DisplayFor(model => model.Details)
	</div>

	<div class="display-label">Opened</div>
	<div class="display-field">
		@Html.DisplayFor(model => model.Opened)
	</div>

	<div class="display-label">Closed</div>
	<div class="display-field">
		@Html.DisplayFor(model => model.Closed)
	</div>

	<div class="display-label">Modified</div>
	<div class="display-field">
		@Html.DisplayFor(model => model.Modified)
	</div>

	<div class="display-label">State</div>
	<div class="display-field">
		@Html.DisplayFor(model => model.State)
	</div>
</fieldset>
<div clas="sub-item-container">	
<h3>Companies on this Issue</h3>
<ul id="companies">
	@foreach (AntiCustomerServiceSystem.Models.Company item in Model.Companies)
	{
	 <li>@Html.ActionLink(item.Name, "Details", "Company") @item.MainPhone @Html.ActionLink("Remove", "RemoveFromIssue", "Company", new {issueId = Model.Id, companyId = item.Id}, null)</li>
	}
	
</ul>
	<div>@Html.ActionLink("Add Company to Issue", "ListPicker", "Company", new { issueId = Model.Id }, null)</div>
</div>
<div clas="sub-item-container">	
	<h3>Calls on this Issue</h3>
<ul id="calls">
	@foreach (AntiCustomerServiceSystem.Models.Call item in Model.Calls)
	{
	 <li><a href="/call/details/@item.Id">Call with @item.ServiceRep on @item.StartTime</a></li>
	}
</ul>
	@if (Model.Calls.Count() > 0)
	 {
		<div>@Html.ActionLink("Add Call", "Create", "Call", new { issueId = Model.Id }, null)</div>
	 }
	 else 
	 { 
		<div>@Html.ActionLink("Log First Call", "Create", "Call", new { issueId = Model.Id }, null)</div>
	 }
	
</div>	

<div clas="sub-item-container">	
	<h3>Documents on this Issue</h3>
<ul id="calls">
	@foreach (AntiCustomerServiceSystem.Models.Document item in Model.Documents)
	{
	 <li><a href="@item.URI" target="_blank">@Path.GetFileName(item.URI)</a> @item.Modified @Html.ActionLink("Delete", "Delete", "Document", new { id = item.Id }, null)</li>
	}
</ul>
	
	<div>@Html.ActionLink("Upload Document", "Create", "Document", new { issueId = Model.Id }, null)</div>

</div>	
<p>
	@Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
	@Html.ActionLink("Back to List", "Index")
</p>
